{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="product-item">
    {% include 'partials/_navbar.html' %}
    <!-- Game content -->
      <div class="game-container">
        <div class="small-container">
          <div class="games-head">
            <h2>All Games</h2>
            <select>
              <option>Default Sorting</option>
              <option>Sort by price</option>
              <option>Sort by popularity</option>
              <option>Sort by rating</option>
              <option>Sort sale</option>
            </select>
          </div>
          <div class="grid-4">

            {% if games %}
              {% for game in games %}
                <div class="col-4">
                  <a href="{% url 'game' game.id %}"
                    ><img src="{{ game.photo_main.url }}"
                  /></a>
                  <a href="p{% url 'game' game.id %}"><h4>{{ game.gameTitle }}</h4></a>
                  <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                  </div>
                  <a href="{% url 'game' game.id %}" class="visit-button">Read More</a>
                </div>
              {% endfor %}
            {% else %}
              <p>No Listing Availavle</p>
            {% endif %}

            
          </div>
        </div>
      </div>
      <!-- Game content end -->
      <!-- pagination button -->
      <div class="small-container">
        <div class="page-btn">
          <span>&#8592;</span>
          <span>1</span>
          <span>2</span>
          <span>3</span>
          <span>4</span>
          <span>&#8594;</span>
        </div>
      </div>
      <!-- pagination button end -->
</div>
{% endblock %}