* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}
body {
  font-family: "Poppins", sans-serif;
}

/* --------GLOBAL STYLE-------- */
ul {
  list-style-type: none;
}
.container {
  max-width: 4000px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}
.small-container {
  max-width: 75%;
  margin: auto;
  padding-left: 0;
  padding-right: 0;
}
a {
  text-decoration: none;
  color: #555;
}
.btn {
  display: inline-block;
  background: #757f90;
  color: #cecece;
  padding: 8px 30px;
  margin: 30px 0px;
  border-radius: 30px;
  transition: background 0.5s;
}

.btn:hover {
  background: #9aa2af;
  color: #5f5b5b;
}
.visit-button {
  font-size: 14px;
  color: #cacaca;
  font-weight: bold;
  padding: 3px 35px;
  border-radius: 10px;
  background: radial-gradient(rgb(0 0 0), rgb(125 125 125));
}

.rating .fa {
  color: mediumturquoise;
}
/* .rating {
  margin-bottom: 10px;
} */
/* ---------GLOBAL STYLE END-------- */

/*----- HEADER-PART---- */
.showcase {
  background: radial-gradient(#fff, #0e0e0e);
  /* background-image: url(./Images/showcase_walpaper.png); */
  background-image: url(./images/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.navbar {
  display: flex;
  align-items: center;
  padding: 15px;
}
.logo {
  /* filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(96deg)
    brightness(108%) contrast(102%); */
  filter: invert(1%) sepia(1%) saturate(1%) hue-rotate(1deg) brightness(1000%)
    contrast(80%);
  width: 120px;
}
nav {
  flex: 1;
  text-align: right;
}

nav ul {
  display: inline-block;
  list-style-type: none;
}

nav ul li {
  display: inline-block;
  margin-right: 20px;
}
nav ul li a {
  color: #d8d8d8;
}
.menu-icon {
  width: 28px;
  margin-left: 20px;
  display: none;
}
/* i.fas.fa-shopping-bag {
  color: #d8d8d8;
  font-size: 30px;
} */
.cart-icon {
  color: #d8d8d8;
  font-size: 30px;
}
.dropdown-content {
  position: absolute;
  display: flex;
  flex-direction: column;
  right: 60px;
  padding-top: 5px;
  visibility: hidden;
}
.dropdown-content a {
  color: #d8d8d8;
}
.dropdown:hover .dropdown-content {
  visibility: visible;
  /* display: flex; */
}

/* showcase */
.showcase-content {
  padding: 80px 0px;
}
.row-flex {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}
.col-2 {
  flex-basis: 40%;
  min-width: 200px;
}
.col-2 p {
  color: #bfbfbf;
}
.col-2 img {
  max-width: 100%;
  /* padding: 50px 0; */
}

.col-2 h1 {
  font-size: 50px;
  line-height: 60px;
  margin: 25px 0;
  color: #b1b1b1;
}
.trending-post {
  background-color: #000;
  width: 335px;
  margin: auto;
}
.trending-content {
  padding: 20px;
}
.trending-content h2 {
  color: #b1b1b1;
  margin-bottom: 15px;
}
.trending-box {
  display: flex;
  margin-bottom: 15px;
}
.post-image img {
  width: 230px;
  height: 70px;
  object-fit: cover;
}
.item-content {
  margin-left: 10px;
}
.item-content ul {
  margin: 5px 0px;
}
.item-content ul li {
  color: #808082;
  font-size: 12px;
}
.item-content h6 {
  font-size: 15px;
}
.item-content h6 a {
  color: #b1b1b1;
  transition: all 0.3s;
}
.item-content h6 a:hover {
  color: red;
  transition: all 0.3s;
}
/* showcase end */
/*-----HEADER-PART-END-----*/

/* -----------CATEGORY STYLE------------- */
.categories {
  /* margin: 30px 0; */
  padding: 35px 0px;
  background-color: rgb(3, 3, 3);
}
.row-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  grid-gap: 1rem;
}
.col-3 {
  border: 4px solid #fff;
  border-radius: 5px;
}
.col-3 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* -----------CATEGORY STYLE END------------- */

/* -----------  FEATURED GAME------------ */
.featured-product {
  background-image: url("images/black-hexagon.jpg");
  padding: 50px 0px;
}
.title {
  text-align: center;
  margin: 0 auto 30px;
  position: relative;
  line-height: 60px;
  color: #cacaca;
}

.title::after {
  content: "";
  background: #80e9e0;
  width: 80px;
  height: 5px;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.box-image {
  position: relative;
  overflow: hidden;
}
.icon {
  position: absolute;
  bottom: -300px;
  text-align: center;
  width: 100%;
  margin-bottom: 10px;
  transition: all, 0.5s;
}
.icon li {
  list-style: none;
  display: inline-block;
  margin-right: 10px;
  overflow: hidden;
}
.icon li div {
  display: block;
  width: 40px;
  height: 40px;
  padding: 7px;
  background: #ffffff;
  color: #111111;
  border-radius: 50%;
  transition: all, 0.5s;
  /* box-shadow: 0px 3px 6px #ecf2e6; */
  transition-duration: 0.8s;
  transition-property: transform;
  overflow: hidden;
}
.icon li div span {
  position: relative;
  -webkit-transform: rotate(0);
  -ms-transform: rotate(0);
  transform: rotate(0);
  -webkit-transition: all, 0.3s;
  -o-transition: all, 0.3s;
  transition: all, 0.3s;
  display: inline-block;
}
.icon li div:hover {
  transform: rotate(360deg);
  background: #5137a0;
  color: #fff;
  cursor: pointer;
}
.box:hover .icon {
  /* transform: translateX(-10px); */
  bottom: 0px;
}

.col-4 {
  transition: transform 0.5s;
  margin-bottom: 40px;
}
.col-4 img {
  width: 100%;
  height: 285px;
  object-fit: cover;
  border-radius: 5px;
}
.col-4 P {
  font-size: 14px;
  color: #cacaca;
  font-weight: bold;
}

.col-4 h4 {
  color: #cacaca;
  font-weight: bold;
}
.col-4:hover {
  transform: translateY(-5px);
}
.grid-4 {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  grid-gap: 1rem;
}
/* .grid-latest-games {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 1rem;
} */

.price {
  color: #d8d8d8;
  font-size: 16px;
  position: relative;
  left: 0;
  transition: all, 0.6s;
}
.box {
  overflow: hidden;
  position: relative;
}
.box:hover .price {
  left: -300px;
}
.cart-btn {
  font-size: 14px;
  color: #d8d8d8;
  font-weight: 700;
  text-transform: uppercase;
  position: absolute;
  left: 0;
  bottom: -50px;
  right: 0;
  margin: 0 auto;
  transition: all, 0.3s;
}
.box:hover .cart-btn {
  bottom: 0px;
}

/* -----------  FEATURED GAME END------------ */

/* ---------OFFER STYLE-------- */
.offer {
  background: radial-gradient(rgb(81 90 119), rgb(0 0 0));
}
.col-2 .offer-img {
  padding: 50px;
}

small {
  color: #bdbcbc;
}
/* ---------OFFER STYLE END-------- */

/* ---------TESTIMONIAL--------- */
.testimonial {
  padding: 100px 0px;
  background: radial-gradient(rgb(0 0 0), rgb(0 0 0));
}
.col-3.testimonial-border {
  border: 1px solid #737373;
}
.testimonial .col-3 {
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  padding-top: 40px 20px;
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.5s;
}
.testimonial .col-3 img {
  width: 130px;
  height: 115px;
  margin-top: 20px;
  border-radius: 50%;
}

.testimonial .col-3:hover {
  transform: translateY(-10px);
}

.fa.fa-quote-left {
  font-size: 32px;
  color: skyblue;
}

.col-3 p {
  font-size: 12px;
  margin: 12px 0;
  color: #bdbdbd;
}

.testimonial .col-3 h3 {
  font-weight: 600;
  color: #bdbdbd;
  font-size: 16px;
}
/* ---------TESTIMONIAL END--------- */

/* ----------------FOOTER STYLE------------------------ */
.footer {
  background: rgb(183 183 183);
  color: #8a8a8a;
  font-size: 14px;
  padding: 60px 0 20px;
}

.footer p {
  color: rgb(0, 0, 0);
}

.footer h3 {
  color: rgb(0, 0, 0);
  margin-bottom: 20px;
}

.footer-col-2,
.footer-col-3,
.footer-col-4 {
  min-width: 350px;
  margin-bottom: 20px;
}

.footer-col-2 {
  flex: 1;
  text-align: center;
}
.footer-col-2 img {
  width: 180px;
  margin-bottom: 20px;
}

.footer-col-3,
.footer-col-4 {
  flex-basis: 12%;
  text-align: center;
}
/* ----------------FOOTER STYLE END------------------------ */

/* ---------------PRODUCT PAGE STYLE---------- */
.product-item {
  /* background-image: url("images/ghost-1.jpg"); */
  background: radial-gradient(rgb(22 29 51), rgb(43 33 33));
}
/* .game-container { */
/* border: 1px solid #fff; */
/* } */
.games-head {
  display: flex;
  justify-content: space-between;
  margin-bottom: 35px;
}
.games-head h2 {
  color: #fff;
}
.search-form {
  display: flex;
}
.search-form input[type="text"] {
  margin-right: 5px;
  padding: 0px 10px;
}
.search-form input[type="submit"] {
  padding: 0px 15px;
  cursor: pointer;
}
select {
  padding: 0px 5px;
  font-weight: bold;
  outline: none;
  border-radius: 5px;
  border: 1px solid #ff0000;
}
.page-btn {
  margin: 30px auto 30px;
}
.page-btn span {
  display: inline-block;
  border: 1px solid #ff523b;
  margin-left: 10px;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
  color: #fff;
  transition: background 0.5s;
}
.page-btn span:hover {
  background: #ff523b;
  color: #fff;
}
/* ---------------PRODUCT PAGE STYLE END---------- */

/* ----------------GAME-DETAILS-STYLE--------------- */
.game-details-container {
  background: url("images/game/snowRunner-wallpaper.jpg") no-repeat;
  background-size: cover;
}
.game-row-grid {
  display: grid;
  grid-template-columns: 35% auto;
  grid-gap: 3rem;
  margin: 50px 0px;
}
.game-col-2 img {
  width: 100%;
  object-fit: contain;
}
.small-img-row {
  display: flex;
  justify-content: space-around;
}
.details-container {
  /* border: 1px solid #fff; */
  background: #000;
  padding: 15px;
  color: #fff;
}
.details-container p a {
  color: #fff;
  border-bottom: 1px solid #fff;
}
.game-description-image {
  width: 100%;
}
.medium-container {
  max-width: 85%;
  margin: auto;
  padding-left: 0;
  padding-right: 0;
}
.game-list {
  list-style-type: disclosure-closed;
  margin-left: 25px;
}
.small-img-col:hover {
  cursor: pointer;
}
/* ----------------GAME-DETAILS-STYLE END--------------- */

/* ------------ACCOUNT PAGE STYLE------------------ */
.account-page {
  padding: 15px 0px 60px;
}
.background-user-update {
  position: absolute;
  background: rgb(111 89 89 / 40%);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
}
.update-profile-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* display: none; */
  opacity: 0;
}
.close-btn {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  background-color: red;
  border: none;
  cursor: pointer;
  color: #fff;
  font-size: 17px;
}
.form-container {
  background: #ffffff;
  width: 300px;
  height: 325px;
  position: relative;
  text-align: center;
  padding: 20px 0;
  margin: auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.form-container span {
  font-weight: bold;
  padding: 0 10px;
  color: #555;
  cursor: pointer;
  width: 100px;
  display: inline-block;
}
.form-btn {
  display: inline-block;
}
.form-container form {
  max-width: 300px;
  padding: 0 20px;
  position: absolute;
  top: 90px;
  transition: transform 1s;
}
#LoginForm input,
#RegForm input {
  width: 100%;
  height: 30px;
  margin: 10px 0;
  padding: 0 10px;
  border: 1px solid #ccc;
}
form .btn {
  width: 100%;
  border: none;
  cursor: pointer;
  margin: 10px 0px;
}
form .btn:focus {
  outline: none;
}
#RegForm {
  left: -300px;
}
.update-user-RegForm {
  left: 0px !important;
}
#RedForm {
  left: 0;
}
form a {
  font-size: 12px;
}
#Indicator {
  width: 100px;
  border: none;
  background: #ff523b;
  height: 3px;
  margin-top: 8px;
  transform: translateX(100px);
  transition: transform 1s;
}
.update-profile-indicator {
  width: 100% !important;
  transform: translateX(0px) !important;
}
/* ------------ACCOUNT PAGE STYLE END------------------ */

/* ------------BLOG PAGE STYLE------------ */
.blog-row {
  margin-bottom: 55px;
}
.blog-background {
  background: #000;
}
.blog-title {
  margin: auto;
  text-align: center;
  color: #fff;
}
.blog-footer-link {
  padding: 10px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.col-md-4 {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(295px, 1fr));
  grid-gap: 1rem;
}
.single-blog {
  box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.2);
  padding: 10px;
  margin-top: 30px;
  background-color: #fff;
}
.single-blog-detail {
  background-color: #000;
  color: #fff;
}

.single-blog img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.single-blog-detail img {
  object-fit: contain;
}

.blog-meta {
  font-size: 14px;
  margin-bottom: 2px;
}

.single-blog span {
  float: right;
  font-size: 12px;
  color: cornflowerblue;
}
.blog-text {
  text-align: justify;
}

.single-blog h2 {
  margin-top: 10px;
  color: #007bff;
}

.single-blog h2 a {
  text-decoration: none;
}

.read-more-btn {
  background-image: linear-gradient(to right, #1c03b5, #5c8bef);
  padding: 5px 12px 8px;
  border-radius: 20px;
  line-height: 20px;
  font-size: 14px;
  color: #fff;
  border: none !important;
}

.read-more-btn:hover {
  background-image: linear-gradient(to right, #006417, #00b128);
  text-decoration: none;
  color: #fff;
}
.reviews-box {
  border: 1px solid #3e3e3e;
  padding: 10px 20px;
  margin-bottom: 15px;
}
.comments {
  margin-top: 10px;
}
select#rating {
  width: 200px;
  padding: 10px 20px;
  margin-bottom: 10px;
}
textarea#comment {
  padding: 10px 20px;
}
.submit-btn {
  padding: 10px 25px;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
}
.write-custome-reviews {
  margin-bottom: 25px;
}
/* .create-blog-btn button {
  height: 40px;
}
.create-blog-btn a {
  padding: 0px 20px;
} */
/* ------------BLOG PAGE STYLE END------------ */

/* ------------CREATE BLOG POST STYLE------------- */
.create-blog-container {
  color: #fff;
  padding: 30px 0px;
}
.create-blog-container form {
  /* display: inline-block; */
  display: flex;
  flex-direction: column;
  color: #fff;
}
.create-blog-container form input[type="text"] {
  padding: 12px;
  margin-top: 10px;
  font-size: 19px;
}
.create-blog-container textarea {
  margin: 15px 0px;
  padding: 12px;
  font-size: 19px;
}
.create-blog-container form input[type="file"] {
  margin-bottom: 15px;
}
.create-blog-container form input[type="submit"] {
  padding: 10px;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
}
/* ------------CREATE BLOG POST STYLE END------------- */

/* ---------------USER DASHBOARD------------- */
.dashboard-background {
  background: url(images/dashboard.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.dashboard {
  background: #000;
  color: #fff;
}
table {
  border-collapse: collapse;
  /* width: 100%; */
  margin-top: 20px;
}
td,
th {
  border: 1px solid #e6e6e6;
  text-align: left;
  padding: 13px;
}
.room-listing {
  margin: 30px 0px 50px 0px;
  overflow-x: auto;
}
.dashboard img {
  margin-top: -20px;
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.dashboard-showcase {
  position: relative;
  margin-top: 20px;
}
.showcase-dashboard-content {
  position: absolute;
  top: 0;
  color: #fff;
  width: 100%;
  text-align: center;
  margin-top: 50px;
}
.dashboard-container {
  width: 70%;
  margin: auto;
  position: relative;
}
.user-edit-btn {
  color: #000;
  border: 1px solid #ffe;
  padding: 6px 10px;
  background: #fff;
  cursor: pointer;
}
.create_edit_Btn {
  display: flex;
  align-items: flex-end;
}
/* .view-listing.edit-profile {
  width: 125px;
} */
.view-listing.create-room {
  width: 145px;
  margin-top: 25px;
  margin-right: 20px;
}
a.flex-2 {
  display: inline-flex;
  gap: 5px;
}
.navigation-header {
  background-color: #151515;
  padding: 10px 20px;
  margin-top: 10px;
}
.user-info {
  margin: 25px 0px;
}
.user-info .user-title {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.view-listing {
  background: var(--border-light-color);
  padding: 5px 10px;
  border-radius: 3px;
}
.delete-icon {
  color: red;
  font-size: 22px;
}
.edit-icon {
  color: #0400ff;
  font-size: 22px;
}
/* --------------USER-DASHBOARD-END----------------- */

/* --------------CART-------------- */
.cart-body {
  background-color: #333;
  /* height: 100vh; */
}
.cart-container {
  display: flex;
  justify-content: space-between;
  color: #d8d8d8;
  padding: 45px 0px;
}
.shopping-cart-detail {
  flex-basis: 67%;
  margin-right: 90px;
}
.shopping-cart-subtotal {
  flex-basis: 34%;
}
.shopping-cart-content {
  /* display: flex; */
  margin-top: 30px;
}
.cart-row {
  display: flex;
  align-items: flex-start;
  padding: 20px 0px;
  /* border-bottom: 1px solid #d8d8d8; */
}
.cart-row:last-child {
  border-bottom: none;
}

.cart-row img {
  width: 75px;
  height: 85px;
  object-fit: cover;
}
.cart-row a {
  color: #d8d8d8;
}
.cart-row a:hover {
  text-decoration: underline;
}
.cart-select {
  padding: 10px;
  border: none;
  background: #d8d8d8;
}
i.fas.fa-trash {
  color: #d8d8d8;
  cursor: pointer;
}
i.fas.fa-trash:hover {
  color: red;
}
/* .col-md-3-cart {
  flex-basis: 25%;
} */
.col-md-2-cart {
  flex-basis: 17%;
  margin-right: 20px;
}
.cart-card {
  border: 1px solid #929292;
  padding: 10px 20px;
}
button.checkout-btn {
  display: block;
  width: 100%;
  padding: 11px;
  cursor: pointer;
  font-weight: bold;
  margin-top: 15px;
}
.cartItemForm::placeholder {
  color: #333;
}
.cartItemForm {
  background: #e5e5e5;
  border: none;
  border-radius: 5px;
  width: 45px;
  padding: 7px;
}
.cart-row table tr th {
  padding: 13px 30px;
}
.cart-empty {
  margin-top: -65px;
  border: 1px solid;
  background: #d2ebf5;
  color: #333;
  padding: 10px 20px;
}
.cart-added-message {
  position: absolute;
  top: 0;
  color: #fff;
  right: 0;
}
/* --------------CART END-------------- */

/* 

































*/

/*--- MEDIA QUERY FOR MENU-----*/
@media screen and (max-width: 800px) {
  nav ul {
    position: absolute;
    top: 70px;
    left: 0;
    background: #333;
    width: 100%;
    overflow: hidden;
    transition: max-height 0.5s;
    z-index: 10;
  }

  nav ul li {
    display: block;
    margin-right: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  /* 
  nav ul li {
    color: #fff;
  } */

  .menu-icon {
    display: block;
    cursor: pointer;
    color: #fff;
    font-size: 30px;
  }
  nav ul li a {
    color: #cac9c9;
  }
  .game-row-grid {
    display: block;
  }
  /* user Dashboard */
  .dashboard-container {
    width: 90%;
  }
  .room-listing ul {
    display: block;
  }
  .user-info .user-title {
    display: block;
  }
  .view-listing.edit-profile {
    margin-top: 20px;
  }
  /* user Dashboard end*/
}

/*--- MEDIA QUERY FOR MENU END-----*/

/* MEDIA QUERY FOR MEDIUM DEVICE */
@media screen and (max-width: 600px) {
  .col-2 {
    flex-basis: 100%;
  }
  .title {
    font-size: 35px;
    margin-top: 40px;
  }
  .col-4 P {
    font-size: 25px;
    font-weight: bold;
  }
  .col-4 h4 {
    font-size: 25px;
    font-weight: bold;
  }
  .rating {
    padding: 5px 0px;
  }
  .rating i {
    font-size: 20px;
  }
  /* showcase */
  .text-center-sm {
    margin-left: 50px;
  }
  .trending-post {
    width: 80%;
  }
  .trending-content h2 {
    margin-bottom: 25px;
  }
  .post-image img {
    width: 240px;
    height: 85px;
  }
  .item-content h6 {
    font-size: 15px;
    text-align: left;
    text-transform: uppercase;
    font-weight: bold;
  }
  .item-content ul li {
    font-size: 15px;
  }
  /* showcase end */
  /* featured product */
  .grid-4 {
    display: block;
  }
  .col-4 img {
    height: 100%;
  }
  /* featured product end */
  .testimonial .col-3 {
    height: 100%;
  }
  .visit-button {
    font-size: 20px;
  }
}
/* MEDIA QUERY FOR MEDIUM DEVICE END */

@media only screen and (min-width: 1200px) {
  .row-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .grid-4 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1rem;
  }
  .col-4 img {
    height: 400px;
  }
}
