#header{
    height: 50px;
    color: #fff;
}
#branding h1{
    color: #fff;
}
.brand-img{
    filter: invert(1%) sepia(1%) saturate(1%) hue-rotate(1deg) brightness(1000%)
    contrast(80%);
    width: 120px;
}