{% extends 'base.html' %} {% load static %} {% block content %}
<div class="blog-background" style="color: #fff">
  <!-- include headers -->
  {% include 'partials/_navbar.html' %}
  <!-- headers end -->
  <!-- individual blog section -->
  <div class="small-container">
    <button class="sumbit-btn">
      <a href="{% url 'blogs' %}">Back</a>
    </button>
    <div class="single-blog single-blog-detail" style="margin-bottom: 50px">
      <p class="blog-meta">By Admin <span>June 4, 2021</span></p>
      <img src="{% static 'images/blog/DG1.jpg' %}" />
      <h2>Days Gone PC Review Better Than Ever</h2>
      <p class="blog-text">
        Days Gone has ridden onto Steam as the latest Playstation exclusive to
        make it onto PC, opening up Bend Studio’s work to a whole new audience.
        I reviewed Days Gone when it first launched on the PS4 back in 2018 and
        found it to be entertaining to play with a strong lead character. A
        couple of years on my initial thoughts haven’t changed too much, so you
        can check out the original review for those. It is definitely worth it
        to pick it up. With the new PC Version it comes with extra Graphics
        Overhaul which increase the immersiveness.
      </p>
    </div>
    <div class="custome-reviews">
      <div class="reviews-output">
        <h1>Reviews</h1>
        <div class="reviews-box">
          <h4>Sanjay Rishidev</h4>
          <div class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
          </div>
          <p class="date">2021/05/12</p>
          <p class="comments">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Atque
            delectus sed libero consequatur molestias dolorum.
          </p>
        </div>
        <div class="reviews-box">
          <h4>Sanjay Rishidev</h4>
          <div class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
          </div>
          <p class="date">2021/05/12</p>
          <p class="comments">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit
          </p>
        </div>
      </div>
    </div>
    <div class="write-custome-reviews">
      <h1>Write a Custome Reviews</h1>
      <div class="rating-form">
        <p>Rating</p>
        <form>
          <select name="select" id="rating">
            <option value="select">Select...</option>
            <option value="1">1-Poor</option>
            <option value="2">2-Fair</option>
            <option value="3">3-Good</option>
            <option value="4">3-Very Good</option>
            <option value="5">3-Excellent</option>
          </select>
          <div class="comment-form">
            <p>Comment</p>
            <textarea id="comment" name="comment" rows="4" cols="50"></textarea>
          </div>

          <input type="submit" class="sumbit-btn" value="Submit" />
        </form>
      </div>
    </div>
  </div>
  <!-- Blog section end -->
</div>
{% endblock %}
