{% extends 'base.html' %} {% load static %} {% block content %}
<div class="blog-background" style="color: #fff">
  <!-- include headers -->
  {% include 'partials/_navbar.html' %}
  <!-- headers end -->
  <!-- individual blog section -->
  <div class="small-container">
    <button class="sumbit-btn">
      <a href="{% url 'blogs' %}">Back</a>
    </button>
    {% if blog %}
      <div class="single-blog single-blog-detail" style="margin-bottom: 50px">
        <p class="blog-meta">By {{ blog.user_name }} <span>{{ blog.published_date }}</span></p>
        <img src="{{ blog.blogImage.url }}" />
        <h2>{{ blog.blogTitle }}</h2>
        <p class="blog-text">
          {{ blog.blogDescription | safe }}
        </p>
      </div>
    {% else %}
      <p>No Blogs</p>
    {% endif %}
    
    <div class="custome-reviews">
      <div class="reviews-output">
        <h1>Reviews</h1>
        <div class="reviews-box">
          <h4>Ram</h4>
          <div class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
          </div>
          <p class="date">2021/05/12</p>
          <p class="comments">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Atque
            delectus sed libero consequatur molestias dolorum.
          </p>
        </div>
        <div class="reviews-box">
          <h4>Sanjay RD</h4>
          <div class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
          </div>
          <p class="date">2021/05/12</p>
          <p class="comments">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Atque
            delectus sed libero consequatur molestias dolorum.
          </p>
        </div>
        <div class="reviews-box">
          <h4>Sujit Hona</h4>
          <div class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
          </div>
          <p class="date">2021/05/12</p>
          <p class="comments">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit
          </p>
        </div>
      </div>
    </div>
    <div class="write-custome-reviews">
      <h1>Write a Custome Reviews</h1>
      <div class="rating-form">
        <p>Rating</p>
        <form>
          <select name="select" id="rating">
            <option value="select">Select...</option>
            <option value="1">1-Poor</option>
            <option value="2">2-Fair</option>
            <option value="3">3-Good</option>
            <option value="4">3-Very Good</option>
            <option value="5">3-Excellent</option>
          </select>
          <div class="comment-form">
            <p>Comment</p>
            <textarea id="comment" name="comment" rows="4" cols="50"></textarea>
          </div>

          <input type="submit" class="sumbit-btn" value="Submit" />
        </form>
      </div>
    </div>
  </div>
  <!-- Blog section end -->
</div>
{% endblock %}
