{% extends 'base.html' %} 
{% load static %} 
{% load humanize %}
{% block content %}

<div class="showcase">
    <!-- header -->
    {% include 'partials/_navbar.html' %}
    <!-- header end -->
  <!-- showcase -->
  <div class="showcase-content">
    <div class="row-flex">
      <div class="col-2">
        <div class="text-center-sm">
          <h1>Explore <br />Games for gamers</h1>
          <p>Adding Fun to your Life</p>
          <a href="{% url 'games' %}" class="btn">Explore Now &#8594;</a>
        </div>
      </div>
      <div class="col-2">
        <div class="trending-post">
          <div class="trending-content">
            <h2>TRENDING GAMES</h2>
            {% if trending_game %}
              {% for trendingGame in trending_game %}
                <div class="trending-item">
                  <div class="trending-box">
                    <div class="post-image">
                      <a href="{% url 'game' trendingGame.id %}">
                        <img src="{{ trendingGame.photo_icon_small.url }}" alt="" />
                      </a>
                    </div>
                    <div class="item-content">
                      <h6>
                        <a href="{% url 'game' trendingGame.id %}">
                          {{ trendingGame.mainDescription | safe | truncatewords_html:6 }}
                        </a>
                      </h6>
                      <ul>
                        <li><i class="far fa-clock"></i> {{ trendingGame.created_at }}</li>
                      </ul>
                    </div>
                  </div>
                </div>
              {% endfor %}
            {% else %}
              <p>No Trending Game Availavle</p>
            {% endif %}
            
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- showcase end -->
<!------  Featured categories   ------>
<div class="categories">
  <div class="small-container">
    <div class="row-grid">
      <div class="col-3">
        <img src="{% static 'images/cat3.png' %}" />
      </div>
      <div class="col-3">
        <img src="{% static 'images/cat2.png' %}" />
      </div>
      <div class="col-3">
        <img src="{% static 'images/cat5.jpg' %}" />
      </div>
      <div class="col-3">
        <img src="{% static 'images/cat1.png' %}" />
      </div>
    </div>
  </div>
</div>
<!---------Featured categories end------------>

<!------  Featured Products   ------>
<div class="featured-product">
  <div class="small-container">
    <h2 class="title">Featured Games</h2>
    <div class="grid-4">
      {% if featured_game %}
        {% for featuredGame in featured_game %}
          <div class="col-4">
            <a href="{% url 'game' featuredGame.id %}"
              ><img src="{{ featuredGame.photo_icon_small.url }}"
            /></a>
            <a href="{% url 'game' featuredGame.id %}">
              <h4>{{ featuredGame.gameTitle }}</h4></a>
            <div class="rating">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
            </div>
            <a href="{% url 'game' featuredGame.id %}" class="visit-button">Read More</a>
          </div>
        {% endfor %}
      {% else %}
        <p>No Featured games</p>
      {% endif %}

    </div>
  </div>

  <div class="small-container">
    <h2 class="title">Latest Games</h2>
    <div class="grid-4">
      {% if latest_game %}
        {% for latestGame in latest_game %}
          <div class="col-4">
            <a href="{% url 'game' latestGame.id %}">
              <img src="{{ latestGame.photo_icon_small.url }}" />
            </a>
            <a href="{% url 'game' latestGame.id %}">
              <h4>{{ latestGame.gameTitle }}</h4>
            </a>
            <div class="rating">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
            </div>
            <a href="{% url 'game' latestGame.id %}" class="visit-button">Read More</a>
          </div>
        {% endfor %}
      {% else %}
        <p>No Latest Games</p>
      {% endif %}

    </div>
  </div>
</div>
<!------  Featured Products end   ------>
{% endblock %}
