{% load static %}
<div class="header">
  <div class="container">
    <div class="navbar">
      <div class="logo">
        <a href="{% url 'index' %}">
          <img
            src="{% static 'images/logo/logo_transparent.png' %}"
            class="logo"
          />
        </a>
      </div>
      <nav>
        <ul id="menuItems">
          <li><a href="{% url 'index' %}">Home</a></li>
          <li><a href="{% url 'games' %}">Games</a></li>
          <li><a href="{% url 'blogs' %}">Blog</a></li>
          <li><a href="{% url 'about' %}">About</a></li>
          {% if user.is_authenticated %}
          <li class="dropdown">
            <a href="">Hi {{ user.username | title }}</a>
            <div class="dropdown-content">
              <a href="{% url 'dashboard' %}"
                ><i class="fas fa-home"></i> Dashboard</a
              >
              <a href="javascript:{document.getElementById('logout').submit()}"
                ><i class="fas fa-sign-out-alt"></i> Logout</a
              >
              <form action="{% url 'logout' %}" method="POST" id="logout">
                {% csrf_token %}
                <input type="hidden" />
              </form>
            </div>
          </li>
          {% else %}
          <li><a href="{% url 'account' %}">Account</a></li>
          {% endif %}
        </ul>
      </nav>
      <a href="{% url 'cart' %}"><i class="fas fa-shopping-bag cart-icon"></i></a>
      <i class="fa fa-bars menu-icon" id="menuClick"></i>
    </div>
  </div>
</div>
