{% load static %}
<div class="header">
  <div class="container">
    <div class="navbar">
      <div class="logo">
        <a href="{% url 'index' %}">
          <img
            src="{% static 'images/logo/logo_transparent.png' %}"
            class="logo"
          />
        </a>
      </div>
      <nav>
        <ul id="menuItems">
          <li><a href="{% url 'index' %}">Home</a></li>
          <li><a href="{% url 'games' %}">Games</a></li>
          <li><a href="Blog.html">Blog</a></li>
          <li><a href="{% url 'about' %}">About</a></li>
          <li><a href="{% url 'account' %}">Account</a></li>
        </ul>
      </nav>
      <i class="fa fa-bars menu-icon" id="menuClick"></i>
    </div>
  </div>
</div>
