{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- fontawesome -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.3/css/fontawesome.min.css"
    />
    <script
      src="https://kit.fontawesome.com/9939086873.js"
      crossorigin="anonymous"
    ></script>
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"> -->
    <!-- style -->
    <link rel="stylesheet" href="{% static 'style.css' %}" />
    <title>GN | Game of Nepal</title>
  </head>
  <body>
    {% block content %} {% endblock %} {% include 'partials/_footer.html' %}
    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"
    ></script>
    <script src="{% static 'script.js' %}"></script>
    <script>
      let editBtn = document.getElementById("editUserBtn");
      let updateContainer = document.querySelector(".update-profile-container");
      let deleteContainer = document.querySelectorAll(".delete-container");
      let updateCloseBtn = document.querySelector("#update-close-btn");
      editBtn.addEventListener("click", () => {
        updateContainer.style.display = "block";
      });
      updateCloseBtn.addEventListener("click", () => {
        updateContainer.style.display = "none";
      });
      //delete container
      const deleteIcon = document.querySelectorAll('.delete-icon')
      let deleteCloseBtn = document.querySelectorAll("#delete-close-btn");
      console.log(deleteIcon)
      console.log(deleteContainer)
      console.log(deleteCloseBtn)
      for(let i=0;i<deleteIcon.length;i++){
        deleteIcon[i].addEventListener('click',()=>{
          deleteContainer[i].style.display = "block";
        })
      }
      for(let i=0;i<deleteCloseBtn.length;i++){
        deleteCloseBtn[i].addEventListener("click", () => {
          deleteContainer[i].style.display = "none";
          console.log(deleteContainer[i])
        });
      }
      let message = document.getElementById("message");
      setTimeout(function () {
        message.style.display = "none";
      }, 3000);
      //delete Container end
    </script>
  </body>
</html>
