<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- fontawesome -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.3/css/fontawesome.min.css"
    />
    <script
      src="https://kit.fontawesome.com/9939086873.js"
      crossorigin="anonymous"
    ></script>
    <!-- style -->
    <link rel="stylesheet" href="style.css" />
    <title>GN | Game of Nepal</title>
  </head>
  <body>
    {% block content %} {% endblock %}
  </body>
</html>
